<!DOCTYPE html>
<html>
  <head>
    <title>Human Error</title>
    <style>
      body {
        background-color: #F8F8F8;
      }
    </style>
  </head>
  <body>
    <div id="sidebar">
      <img src="/static/home.png" alt="Sidebar" usemap="#sidebar">
      <map name="sidebar">
        <area shape="rect" coords="470,280,670,366" href="./about" alt="About">
        <area shape="rect" coords="463,417,689,505" href="https://github.com/80vs90" alt="GitHub">
        <area shape="rect" coords="462,556,649,644" href="./blog" alt="Blog">
      </map>
    </div>
    <div id="main">
    </div>
  </body>
</html>
